* {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  width: 10px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background: #1E3932;
}

body::-webkit-scrollbar-thumb:hover {
  background: #006241;
}

body::-webkit-scrollbar-thumb:horizontal {
  background: #1E3932;
}

@font-face {
  font-family: "Futura-Bold";
  src: url("../fonts/Futura-Bold.otf");
}

@font-face {
  font-family: "Myriad-Regular";
  src: url("../fonts/MyriadPro-Regular.otf");
}

body {
  background-color: #f9f9f9;
  font-family: "Myriad-Regular", "Open Sans";
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura-Bold";
}

h2, h3, h4, h5, h6 {
  color: #1e3932cc;
}

a {
  cursor: pointer;
}

a:focus {
  outline: none;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.bg-primary {
  background-color: #006241 !important;
}

.bg-light {
  background-color: #f9f9f9 !important;
}

.bg-light-cream {
  background-color: #F2F0EB !important;
}

.btn-primary {
  background-color: #018a57 !important;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  border: none;
  background-color: #006241 !important;
}

.btn-primary:active {
  background-color: #005f3c !important;
}

.btn-light {
  background-color: #f9f9f9 !important;
  border: none;
}

.btn-light:hover, .btn-light:focus {
  border: none;
  background-color: #F2F0EB !important;
}

.btn-light:active {
  background-color: #d1d1d0 !important;
}

.fill-primary {
  fill: #006241;
}

.fill-gray-cream {
  fill: #F2F0EB;
}

.fill-gray {
  fill: #f9f9f9;
}

.text-dark {
  color: #1e3932cc !important;
}

.logo-starbucks {
  width: 48px;
}

#root {
  width: 100%;
}

.page {
  background-color: #f9f9f9;
  -webkit-transition: 0.1 ease;
  transition: 0.1 ease;
  -webkit-animation: showPage 1s ease;
          animation: showPage 1s ease;
}

.section-land.section-magic, .section-land.section-share,
.section-land-footer.section-magic,
.section-land-footer.section-share {
  background-image: url("../img/flowers-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-land .text-right-land,
.section-land-footer .text-right-land {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-land h1,
.section-land-footer h1 {
  color: #006241;
  letter-spacing: 0.1rem;
  font-size: 48px;
  line-height: 3.5rem;
}

.section-land h1 span,
.section-land-footer h1 span {
  -webkit-text-stroke-width: 2px;
  color: #f9f9f9;
  -webkit-text-stroke-color: #006241;
}

.section-land p,
.section-land-footer p {
  font-size: 24px;
}

.section-land-footer {
  background-color: #006241;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.section-land-footer a {
  width: 100%;
}

.section-land-footer h1 {
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 48px;
  line-height: 3.5rem;
}

.section-land-footer h1 span {
  -webkit-text-stroke-width: 2px;
  color: #006241;
  -webkit-text-stroke-color: #fff;
}

.section-land-footer p {
  font-size: 24px;
}

.section-land-footer .btn-outline-light {
  border: 2px solid #fff;
  background-color: #006241;
  color: #fff;
  border-radius: 50px;
  font-family: "Futura-Bold";
  letter-spacing: .2rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.section-land-footer .btn-outline-light:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #1e3932cc;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.text-primary {
  color: #1E3932 !important;
}

.family-magic {
  margin: auto;
}

header > .navbar {
  overflow: hidden;
}

.navbar-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-nav a:hover {
  border-bottom: none;
}

.navbar-nav a > li > a {
  font-family: "Futura-Bold" !important;
  font-size: 16px !important;
  color: #1e3932cc !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.navbar-nav a > li > a:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #018a57 !important;
}

.navbar-nav li.active > a {
  color: #018a57 !important;
}

.shoping-cart-icon svg {
  width: 24px;
}

.shoping-cart-icon svg path {
  fill: #1E3932;
}

.shoping-cart-icon:hover svg path {
  fill: #018a57;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.shoping-cart-icon.active svg path {
  fill: #018a57 !important;
}

.cont-cart-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont-cart-menu .cart-count {
  background-color: #018a57;
  color: #fff;
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  justify-self: flex-end;
  -webkit-transform: translate(-0.5rem, -0.2rem);
          transform: translate(-0.5rem, -0.2rem);
}

.navbar-brand {
  font-family: "Futura-Bold";
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E3932;
  font-family: 24px;
}

.navbar-brand:hover {
  color: #1E3932;
}

.footer {
  background-color: #006241;
}

.footer .navbar {
  color: #fff;
}

.footer li {
  list-style: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer span {
  color: #fff;
  font-size: 12px;
}

.footer h6 {
  color: #fff;
}

.footer .icon-social {
  font-size: 32px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer .icon-social:hover {
  color: #F2F0EB;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer .cont-menu {
  margin-left: 3rem;
  text-align: left;
}

.btnMenu {
  color: #1e3932cc;
  padding: 0 !important;
  position: relative;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.btnMenuClose {
  color: #1e3932cc;
  padding: 0 !important;
  position: relative;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-top: 1px;
}

.navbar-top-showed {
  top: 0 !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.05);
          box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.05);
}

.navbar-top-hidden {
  top: -50% !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.wave-circle {
  margin-top: 5rem;
}

.article-menu {
  background-image: url("../img/flowers-background-light.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cont-cards-menu {
  margin-top: 0rem !important;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.cont-cards-menu .card-menu {
  -webkit-animation: showMenuItems 0.4s ease;
          animation: showMenuItems 0.4s ease;
  height: 320px !important;
}

.cont-cards-menu .cont-menu-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #1E3932;
}

.cont-cards-menu .cont-menu-img:hover {
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.cont-cards-menu .cont-menu-img .imgMenuBackground {
  width: 100%;
  height: 320px;
  border-radius: 30px;
  background-color: #1e3932cc;
  background-position: center;
  background-size: 150%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.cont-cards-menu .cont-menu-img:hover .imgMenuBackground {
  background-position: center 50%;
  background-size: 720px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.cont-cards-menu .menu-item-name {
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;
}

.btnBackMenu {
  height: 40px;
}

.btnBackMenu:focus {
  background-color: #018a57 !important;
  color: #fff !important;
}

.ctrlProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px !important;
  font-family: "Myriad-Regular";
  color: #1e3932cc;
  opacity: 0;
  -webkit-animation: ctrlProducts 0.2s ease 0.5s forwards;
          animation: ctrlProducts 0.2s ease 0.5s forwards;
}

.ctrlProducts label {
  margin-bottom: 0 !important;
}

.ctrlProducts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ctrlProducts .cont-filter-menu .cont-search {
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctrlProducts .cont-filter-menu .cont-search input {
  background-color: transparent;
  border: none;
  color: #1e3932cc;
}

.ctrlProducts .cont-filter-menu .cont-search input:focus {
  outline: none;
}

.ctrlProducts .cont-filter-menu .cont-search input:valid ~ span {
  color: #018a57;
}

.ctrlProducts .cont-filter-menu select {
  background-color: transparent;
  min-width: 210px;
  border: none;
  color: #1e3932cc;
  height: 40px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  cursor: pointer;
}

.ctrlProducts .cont-filter-menu select:focus {
  outline: none;
}

.ctrlProducts .cont-filter-menu select:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #f5f5f5 !important;
}

.ctrlProducts .cont-filter-menu select + img {
  margin-left: -2rem;
  z-index: 1;
  pointer-events: none;
}

@-webkit-keyframes ctrlProducts {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ctrlProducts {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-product {
  background: #fff;
  min-width: 256px;
  min-height: 360px;
  margin: 1rem;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card-product:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.05) !important;
          box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.05) !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card-product:hover .circle-img {
  background-color: #00754A;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card-product .product-name-card {
  font-size: 18px;
  color: #00754A;
  font-family: "Myriad-Regular";
  font-weight: bold;
  height: 48px;
}

.card-product .product-categorie-card {
  font-size: 16px;
  color: #1e3932cc;
}

.card-product .cont-footer-product-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-product .product-price-card {
  font-size: 18px;
  font-family: "Myriad-Regular";
  font-weight: bold;
  color: #1e3932cc;
}

.card-product .image-product-card {
  margin: 0 auto;
  width: 128px;
  z-index: 1;
}

.card-product .btn-cart {
  width: 64px !important;
  height: 64px !important;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
}

.card-product .btn-cart:focus {
  background-color: #00754A !important;
  border: none;
}

.card-product .btn-cart:focus svg > path {
  fill: #fff;
}

.card-product .cart-plus {
  width: 32px;
}

.card-cart {
  background: #fff;
  margin: 1rem;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-animation: showcart .4s ease;
          animation: showcart .4s ease;
}

.card-cart .cont-image-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-cart:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(10, 10, 10, 0.05) !important;
          box-shadow: 0px 5px 20px rgba(10, 10, 10, 0.05) !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card-cart .cont-cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-cart .cont-data-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-cart .cart-name-card {
  font-size: 16px;
  color: #00754A;
  font-family: "Myriad-Regular";
  font-weight: bold;
}

.card-cart .cart-categorie-card {
  font-size: 16px;
  color: #1e3932cc;
}

.card-cart .cont-footer-cart-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-cart .cart-price-card {
  font-size: 16px;
  font-weight: bold;
  font-family: "Myriad-Regular";
  color: #1e3932cc;
}

.card-cart .image-cart-card {
  width: 74px;
  justify-self: flex-start;
  z-index: 1;
}

.card-cart .btn-delete-cart {
  width: 32px !important;
  height: 32px !important;
  font-size: 14px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-cart .cont-ctrl-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-cart .btn-plus-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  color: #1e3932cc;
  border-radius: 30px 0px 0px 30px;
  font-size: 14px;
}

.card-cart .btn-less-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  color: #1e3932cc;
  border-radius: 0px 30px 30px 0px;
  font-size: 14px;
}

.card-cart .lbl-quantity {
  width: 80px;
  font-size: 14px;
  color: #1e3932cc;
  text-align: center;
}

.card-cart .cart-quantity-price-card {
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  font-family: "Myriad-Regular";
  color: #1e3932cc;
}

.card-cart .btn-delete-cart:focus {
  border: none;
}

.card-cart .cart-plus {
  width: 32px;
}

.form-send {
  border-radius: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-send:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.05);
          box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.05);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-send button {
  height: 40px;
  border-radius: 20px;
}

.cont-input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-input-form .lbl-form {
  font-weight: bold;
  color: #1e3932cc;
}

.cont-input-form .lbl-form span {
  font-weight: bold;
  color: #AC0000;
}

.cont-input-form .input-custom {
  border: none;
  background-color: #f9f9f9;
  height: 40px;
  padding: 1rem;
  border-radius: 30px;
  color: #1e3932cc;
  overflow-y: hidden;
}

.cont-input-form .input-custom:focus {
  outline: none;
}

.cont-input-form .textarea-custom {
  height: 55px;
}

.wave-contact {
  margin-top: -10rem;
}

.wave-contact div {
  padding-bottom: 10rem;
}

.cont-total {
  font-size: 18px;
  font-weight: bold;
}

.cont-menu-products {
  max-width: 100% !important;
}

.cont-menus-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 0px !important;
  height: 0px !important;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation: hideMenuItems 0.4s ease forwards;
          animation: hideMenuItems 0.4s ease forwards;
}

.cont-products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: hideProducts 0.4s ease forwards;
          animation: hideProducts 0.4s ease forwards;
}

.showMenuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: showMenuItems 0.4s ease forwards;
          animation: showMenuItems 0.4s ease forwards;
}

.showProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: showProducts 0.4s ease forwards;
          animation: showProducts 0.4s ease forwards;
}

.hideProducts {
  -webkit-animation: hideProducts 0.4s ease;
          animation: hideProducts 0.4s ease;
}

.hideProducts div {
  display: none;
  -webkit-animation: hideProductsContent 0.4s ease;
          animation: hideProductsContent 0.4s ease;
}

#point-contact-1 {
  -webkit-animation: pointContact 1s ease infinite;
          animation: pointContact 1s ease infinite;
}

#point-contact-2 {
  -webkit-animation: pointContact 1s ease .25s infinite;
          animation: pointContact 1s ease .25s infinite;
}

#point-contact-3 {
  -webkit-animation: pointContact 1s ease 0.5s infinite;
          animation: pointContact 1s ease 0.5s infinite;
}

#smoke-coffee-relax {
  -webkit-animation: smokeUp 2s ease infinite;
          animation: smokeUp 2s ease infinite;
}

@-webkit-keyframes pointContact {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes pointContact {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
}

@-webkit-keyframes flipBars {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes flipBars {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes flipTimes {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes flipTimes {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes showPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showMenuItems {
  from {
    opacity: 0;
    margin-left: -50%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes showMenuItems {
  from {
    opacity: 0;
    margin-left: -50%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@-webkit-keyframes hideMenuItems {
  from {
    opacity: 1;
    margin-left: 0%;
  }
  to {
    opacity: 0;
    margin-left: -100%;
    width: 0px;
    height: 0px;
  }
}

@keyframes hideMenuItems {
  from {
    opacity: 1;
    margin-left: 0%;
  }
  to {
    opacity: 0;
    margin-left: -100%;
    width: 0px;
    height: 0px;
  }
}

@-webkit-keyframes showProducts {
  from {
    opacity: 0;
    margin-right: -100%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes showProducts {
  from {
    opacity: 0;
    margin-right: -100%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@-webkit-keyframes hideProducts {
  from {
    margin-right: 0%;
  }
  to {
    opacity: 0;
    margin-right: -100%;
    overflow-x: hidden;
    pointer-events: none;
  }
}

@keyframes hideProducts {
  from {
    margin-right: 0%;
  }
  to {
    opacity: 0;
    margin-right: -100%;
    overflow-x: hidden;
    pointer-events: none;
  }
}

@-webkit-keyframes hideProductsContent {
  from {
    display: -webkit-box;
    display: flex;
  }
  to {
    display: none;
  }
}

@keyframes hideProductsContent {
  from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  to {
    display: none;
  }
}

@-webkit-keyframes hideMenu {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hideMenu {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes showMenu {
  to {
    display: none;
  }
}

@keyframes showMenu {
  to {
    display: none;
  }
}

@-webkit-keyframes leafsShake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes leafsShake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes armsShakeMan {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes armsShakeMan {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes armsShakeGirl {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0.8deg);
            transform: rotate(0.8deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes armsShakeGirl {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0.8deg);
            transform: rotate(0.8deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes armsShakePlant {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes armsShakePlant {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes heartsUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  25% {
    opacity: .5;
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: .2;
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
}

@keyframes heartsUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  25% {
    opacity: .5;
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: .2;
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
}

@-webkit-keyframes smokeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  10% {
    opacity: .5;
    -webkit-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
  80% {
    opacity: .5;
    -webkit-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
  }
  90% {
    opacity: .25;
    -webkit-transform: translateY(-0.9rem);
            transform: translateY(-0.9rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes smokeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  10% {
    opacity: .5;
    -webkit-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
  80% {
    opacity: .5;
    -webkit-transform: translateY(-0.8rem);
            transform: translateY(-0.8rem);
  }
  90% {
    opacity: .25;
    -webkit-transform: translateY(-0.9rem);
            transform: translateY(-0.9rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@-webkit-keyframes starLight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    fill: #ffc05b;
  }
  100% {
    opacity: 0;
  }
}

@keyframes starLight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    fill: #ffc05b;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes starLightCircle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes starLightCircle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes starLightTree {
  0% {
    fill: #F9CC85;
  }
  50% {
    fill: #ffc05bd7;
  }
  100% {
    fill: #F9CC85;
  }
}

@keyframes starLightTree {
  0% {
    fill: #F9CC85;
  }
  50% {
    fill: #ffc05bd7;
  }
  100% {
    fill: #F9CC85;
  }
}

@-webkit-keyframes starLightRelax {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    opacity: 1;
    fill: #ffc05b;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes starLightRelax {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    opacity: 1;
    fill: #ffc05b;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes starLightCircleRelax {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes starLightCircleRelax {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes starLightTreeRelax {
  0% {
    fill: #F9CC85;
  }
  50% {
    fill: #ffc05bd7;
  }
  100% {
    fill: #F9CC85;
  }
}

@keyframes starLightTreeRelax {
  0% {
    fill: #F9CC85;
  }
  50% {
    fill: #ffc05bd7;
  }
  100% {
    fill: #F9CC85;
  }
}

@media screen and (max-width: 1196px) {
  .cont-cards-menu {
    margin-top: 0rem !important;
    overflow-x: hidden;
  }
  .cont-card-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0rem 1.5rem;
  }
  .cont-cart-items {
    min-width: 100% !important;
  }
  .cont-form-send {
    min-width: 60% !important;
  }
}

@media screen and (max-width: 993px) {
  .cont-navbar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.2s ease;
    transition: right 0.2s ease;
    z-index: 100;
  }
  .cont-navbar ul {
    width: 100%;
  }
  .cont-navbar ul a {
    border-bottom: 1px solid #F2F0EB;
  }
  .cont-navbar ul a a {
    border-bottom: none;
  }
  .showNavBar {
    right: 0%;
    -webkit-transition: right 0.2s ease;
    transition: right 0.2s ease;
  }
  .cont-menus-card {
    height: 0px !important;
    -webkit-animation: hideMenuItems 0.4s ease forwards;
            animation: hideMenuItems 0.4s ease forwards;
  }
  .cont-products-card {
    height: 0px !important;
  }
  .logo-starbucks {
    width: 32px;
  }
  .card-product {
    min-width: 256px !important;
    max-width: 256px !important;
  }
  h3 {
    font-size: 18px;
    line-height: 1.5rem;
  }
  .section-land h1,
  .section-land-footer h1 {
    font-size: 24px;
    line-height: 2rem;
  }
  .section-land h1 span,
  .section-land-footer h1 span {
    -webkit-text-stroke-width: 1px;
  }
  .section-land p,
  .section-land-footer p {
    font-size: 16px;
  }
  .section-share {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
  }
  .section-share .container > .row > div {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
  }
  .wave-light {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .curve-circle {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .wave-circle {
    margin-top: 3rem;
  }
  .cont-cards-menu {
    overflow-x: hidden;
  }
  .footer .cont-menu {
    margin-left: 0rem;
    text-align: center;
    margin-top: 3rem;
  }
  .shoping-cart-icon svg {
    width: 24px;
  }
}

@media screen and (max-width: 767px) {
  .card-cart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .image-cart-card {
    width: 128px !important;
    justify-self: flex-start;
    z-index: 1;
  }
  .cont-text-land {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}
/*# sourceMappingURL=style.css.map */