$leafsImage: url("../img/flowers-background.svg");
$fontTitle: url("../fonts/Futura-Bold.otf");
$fontText: url("../fonts/MyriadPro-Regular.otf");
$fontTitleName: "Futura-Bold";
$fontTextName: "Myriad-Regular";

$white: #fff;
$grayLight: #f9f9f9;
$grayCream: #F2F0EB;
$grayCreamActive:rgb(209, 209, 208);
$greenDark: #006241;
$greenAccent: #018a57;
$greenDarkAccent: #00754A;
$greenDarkAccentActive: #005f3c;
$greenDarkAccentOp: rgba(0, 117, 74, 0.5);
$greenDarkDepth: #1E3932;
$greenClip: rgba(18, 32, 29, 0.822);
$greenText: #1e3932cc;
$red: #AC0000;

$imgFlowers: url("../img/flowers-background.svg");
$imgFlowersLight: url("../img/flowers-background-light.svg");
$imgFlowersGreen: url("../img/flowers-background-green.svg");

* {
   padding: 0;
   margin: 0;
}

body::-webkit-scrollbar-track {
   background: $grayLight;
}

body::-webkit-scrollbar {
   background: rgba(0, 0, 0, 0);
   width: 10px;
}

body::-webkit-scrollbar-thumb {
   background: $greenDarkDepth;
}

body::-webkit-scrollbar-thumb:hover {
   background: $greenDark;
}

@font-face {
   font-family: $fontTitleName;
   src: $fontTitle;
}

@font-face {
   font-family: $fontTextName;
   src: $fontText;
}

body {
   background-color: $grayLight;
   font-family: $fontTextName, "Open Sans";
   scroll-behavior: smooth !important;
}

html, body {
   overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: $fontTitleName;
}

h2, h3, h4, h5, h6 {
   color: $greenText;
}

a {
   cursor: pointer;

   &:focus {
      outline: none;
   }
}

button:focus {
   box-shadow: none !important;
}

.bg-primary {
   background-color: $greenDark !important;
}
.bg-light {
   background-color: $grayLight !important;
}
.bg-light-cream {
   background-color: $grayCream !important;
}

.btn-primary {
   background-color: $greenAccent !important;
   border: none;

   &:hover,
   &:focus {
      border: none;
      background-color: $greenDark!important;
   }

   &:active {
      background-color: $greenDarkAccentActive !important;
   }
}

.btn-light {
   background-color: $grayLight !important;
   border: none;
   
   &:hover, &:focus {
      border: none;
      background-color: $grayCream !important;
   }
   &:active {
      background-color: $grayCreamActive !important;
   }
}

.fill-primary {
   fill: $greenDark;
}


.fill-gray-cream {
   fill: $grayCream;
}

.fill-gray {
   fill: $grayLight;
}


.text-dark {
   color: $greenText !important;
}

.logo-starbucks {
   width: 48px;
}

#root {
   width: 100%;
}

.page {
   background-color: #f9f9f9;
   transition: 0.1 ease;
   animation: showPage 1s ease;
}

.section-land,
.section-land-footer {

   &.section-magic, &.section-share {
      background-image: $imgFlowers;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
   }


   .text-right-land {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   h1 {
      color: $greenDark;
      letter-spacing: 0.1rem;
      font-size: 48px;
      line-height: 3.5rem;

      span {
         -webkit-text-stroke-width: 2px;
         color: $grayLight;
         -webkit-text-stroke-color: $greenDark;
      }
   }

   p {
      font-size: 24px;
   }

}


.section-land-footer {
   background-color: $greenDark;
   // background-image: $imgFlowersGreen;
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;

   a {
      width: 100%;
   }
   h1 {
      color: $white;
      letter-spacing: 0.1rem;
      font-size: 48px;
      line-height: 3.5rem;

      span {
         -webkit-text-stroke-width: 2px;
         color: $greenDark;
         -webkit-text-stroke-color: $white;
      }
   }

   p {
      font-size: 24px;
   }

   .btn-outline-light {
      border: 2px solid $white;
      background-color: $greenDark;
      color: $white;
      border-radius: 50px;
      font-family: $fontTitleName;
      letter-spacing: .2rem;
      transition: 0.2s ease-in;

      &:hover {
         border: 2px solid $white;
         background-color: $white;
         color: $greenText;
         transition: 0.2s ease-in;
      }
   }
}

.text-primary {
   color: $greenDarkDepth !important;
}

.family-magic {
   margin: auto;
}

.navbar > .container {
   display: flex;
}

.cont-navbar {
   justify-self: flex-end;
}

.navbar-nav {
   a {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   a:hover {
      border-bottom: none;
   }
   a > li > a {
      font-family: $fontTitleName !important;
      font-size: 16px !important;
      color: $greenText !important;
      transition: 0.2s ease;

      &:hover {
         transition: 0.2s ease;
         color: $greenAccent !important;
      }
   }

   li.active > a {
      color: $greenAccent !important;
   }

}

.shoping-cart-icon {

   svg {
      width: 24px;
   }

   svg path {
      fill: $greenDarkDepth;
   }

   &:hover svg path {
      fill: $greenAccent;
      transition: 0.2s ease;
   }

   &.active svg path {
      fill: $greenAccent !important;
   }
}

.cont-cart-menu {
   display: flex;
   align-items: center;
   .cart-count {
      background-color: $greenAccent;
      color: $white;
      font-size: 12px;
      width: 16px;
      height: 16px;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      justify-self: flex-end;
      transform: translate(-.5rem, -.2rem);
   }
} 

.navbar-brand {
   font-family: $fontTitleName;
   font-weight: bold;
   display: flex;
   align-items: center;
   color: $greenDarkDepth;
   font-family: 24px;

   &:hover {
      color: $greenDarkDepth;
   }
}

.footer {
   background-color: $greenDark;

   .navbar {
      color: $white;
   }

   li {
      list-style: none;
   }

   a {
      color: $white;
      text-decoration: none;
   }

   span {
      color: $white;
      font-size: 12px;
   }

   h6 {
      color: $white;
   }

   .icon-social {
      font-size: 32px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
         color: $grayCream;
         transition: 0.2s ease;
      }
   }

   .cont-menu {
      margin-left: 3rem;
      text-align: left;
   }
}

.btnMenu {
   color: $greenText;
   padding: 0 !important;
   position: relative;
   width: 40px !important;
   height: 40px !important;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   z-index: 101;

   .fa-bars {
      animation: flipBars 0.2s ease forwards;
   }

   .fa-times {
      animation: flipTimes 0.2s ease forwards;
   }
}

.navbar-top-showed {
   top: 0 !important;
   transition: 0.4s ease;
   box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.05);

}

.navbar-top-hidden {
   top: -50% !important;
   transition: 0.4s ease;

}



.wave-circle {
   margin-top: 5rem;
}

.article-menu {
   background-image: $imgFlowersLight;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
}

.cont-cards-menu {
   border-radius: 30px;
   margin-top: 0rem !important;
   display: flex;
   justify-content: center;

   .card-menu {
      animation: showMenuItems 0.4s ease;
      height: 320px !important;
   }
   
   .cont-menu-img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      transition: 0.2s ease;
      background-color: $greenDarkDepth;

      &:hover {   
         box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
      }

      .imgMenuBackground {
         width: 100%;
         height: 320px;
         border-radius: 30px;
         background-color: $greenText;
         background-position: center;
         background-size: 150%;
         filter: brightness(80%);
         transition: 0.4s ease;
         cursor: pointer;
      }
   }

   .cont-menu-img:hover {
      .imgMenuBackground {
         background-position: center 50%;
         background-size: 720px;
         transition: 0.4s ease;
      }

   }

   .menu-item-name {
      text-transform: uppercase;
      position: absolute;
      cursor: pointer;
   }
}

.btnBackMenu {
   height: 40px;

   &:focus {
      background-color: $greenAccent !important;
      color: $white !important;
   }
}

.ctrlProducts {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   font-size: 16px !important;
   font-family: $fontTextName;
   color: $greenText;
   opacity: 0;
   animation: ctrlProducts 0.2s ease 0.5s forwards;
   
   label {
      margin-bottom: 0 !important;
   }

   div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }

   .cont-filter-menu {
      .cont-search {
         height: 40px;
         justify-content: space-between;
         input {
            background-color: transparent;
            border: none;
            color: $greenText;

            &:focus {
               outline: none;
            }

            &:valid ~ span {
               color: $greenAccent;
            }
         }


      }
      
      select {
         background-color: transparent;
         min-width: 210px;
         border: none;
         color: $greenText;
         height: 40px;
         transition: 0.2s ease;
         -moz-appearance:none;
         /* Firefox */
         -webkit-appearance:none;
         /* Safari and Chrome */
         appearance:none;
         background-repeat: no-repeat;
         background-position-x: 93%;
         background-position-y: 50%;

         &:focus {
            outline: none;
         }

         &:hover {
            transition: 0.2s ease;
            background-color: #f5f5f5 !important;
         }

         & + img{
            margin-left: -2rem;
            z-index: 1;
            pointer-events: none;
         }
         cursor: pointer;
      }
   }
}

@keyframes ctrlProducts {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.card-product {
   background: $white;
   min-width: 256px;
   min-height: 360px;
   margin: 1rem;
   border-radius: 40px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   position: relative;
   //cursor: pointer;
   transition: 0.2s ease;

   &:hover {
      box-shadow: 0px 10px 20px rgba(10, 10, 10, 0.05) !important;
      transition: 0.2s ease;

      .circle-img {
         background-color: $greenDarkAccent;
         transition: 0.2s ease;
      }
   }

   .product-name-card {
      font-size: 18px;
      color: $greenDarkAccent;
      font-family: $fontTextName;
      font-weight: bold;
      height: 48px;
   }

   .product-categorie-card {
      font-size: 16px;
      color: $greenText;
   }  

   .cont-footer-product-cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .product-price-card {
      font-size: 18px;
      font-family: $fontTextName;
      font-weight: bold;
      color: $greenText;
   }

   .image-product-card {
      margin: 0 auto;
      width: 128px;
      z-index: 1;
   }

   .btn-cart {
      width: 64px !important;
      height: 64px !important;
      align-self: flex-end;
      border: none;
   }

   .btn-cart:focus {
      background-color: $greenDarkAccent !important;
      border: none;
      & svg > path {
         fill: $white;
      }
   }

   .cart-plus {
      width: 32px;
   }

}

.card-cart {
   background: $white;
   margin: 1rem;
   border-radius: 30px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   position: relative;
   transition: 0.2s ease;
   animation: showcart .4s ease;

   .cont-image-cart-item {
      display: flex;
      flex-wrap: wrap;
   }
   &:hover {
      box-shadow: 0px 5px 20px rgba(10, 10, 10, 0.05) !important;
      transition: 0.2s ease;
   }

   .cont-cart-product {
      display: flex;
      flex-wrap: wrap;
   }

   .cont-data-cart-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
   }

   .cart-name-card {
      font-size: 16px;
      color: $greenDarkAccent;
      font-family: $fontTextName;
      font-weight: bold;
   }

   .cart-categorie-card {
      font-size: 16px;
      color: $greenText;
   }

   .cont-footer-cart-cart {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }

   .cart-price-card {
      font-size: 16px;
      font-weight: bold;
      font-family: $fontTextName;
      color: $greenText;
   }

   .image-cart-card {
      width: 74px;
      justify-self: flex-start;
      z-index: 1;
   }

   .btn-delete-cart {
      width: 32px !important;
      height: 32px !important;
      font-size: 14px;
      border: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .cont-ctrl-quantity {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
   }

   .btn-plus-cart {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 32px;
      color: $greenText;
      border-radius: 30px 0px 0px 30px;
      font-size: 14px;
   }

   .btn-less-cart {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 32px;
      color: $greenText;
      border-radius: 0px 30px 30px 0px;
      font-size: 14px;
   }

   .lbl-quantity {
      width: 80px;
      font-size: 14px;
      color: $greenText;
      text-align: center;
   }

   .cart-quantity-price-card {
      font-size: 16px;
      font-weight: bold;
      width: 80px;
      text-align: center;
      font-family: $fontTextName;
      color: $greenText;
   }


   .btn-delete-cart:focus {
      border: none;
   }

   .cart-plus {
      width: 32px;
   }

}


.form-send {
   border-radius: 30px;
   transition: 0.2s ease;

   &:hover {
      box-shadow: 0px 10px 30px rgba(10, 10, 10, 0.05);
      transition: 0.2s ease
;
   }

   button {
      height: 40px;
      border-radius: 20px;
   }
}

.cont-input-form{
   display: flex;
   flex-direction: column;

   .lbl-form {
      font-weight: bold;
      color: $greenText;
      span {
         font-weight: bold;
         color: $red;
      }
   }

   .input-custom {
      border: none;
      background-color: $grayLight;
      height: 40px;
      padding: 1rem;
      border-radius: 30px;
      color: $greenText;
      overflow-y: hidden;
      &:focus {
         outline: none;
      }
   }

   .textarea-custom {
      height: 55px;
   }
}

.wave-contact {
   margin-top: -10rem;

   div {
      padding-bottom: 10rem;
   }
}

.cont-total {
   font-size: 18px;
   font-weight: bold;
}

.cont-menus-card {
   display: flex;
   flex-wrap: wrap;
   opacity: 0;
   transition: 0.4s;
   animation: hideMenuItems 0.4s ease forwards;
}

.cont-products-card {
   display: flex;
   flex-wrap: wrap;
   animation: hideProducts 0.4s ease forwards;
}

.showMenuItems {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   animation: showMenuItems 0.4s ease forwards; 
}

.showProducts {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   animation: showProducts 0.4s ease forwards;
}

.hideProducts {
   display: flex;
   flex-wrap: wrap;
   animation: hideProducts 0.4s ease forwards;
}

#point-contact-1 {
   animation: pointContact 1s ease infinite;
}
#point-contact-2 {
   animation: pointContact 1s ease .25s infinite;
}
#point-contact-3 {
   animation: pointContact 1s ease 0.5s infinite;
}

#hearts-magic {
   animation: heartsUp 2.2s linear infinite;
}

#leafs {
   animation: leafsShake 2.5s linear infinite;
}

#hand-drink-man,
#arm-left-girl {
   animation: armsShakeMan 2.5s ease-out infinite;
}

#hand-drink-girl {
   animation: armsShakeGirl 2.5s ease-in-out infinite;
}

#plant-balance {
   animation: armsShakePlant 2.5s ease-in-out infinite;
}

#star-tree-light-share {
   animation: starLight 3s ease infinite;
}

#star-light-circle-share {
   animation: starLightCircle 3s ease infinite;
}

#star-tree-share {
   animation: starLightTree 3s ease infinite;
}

#smoke-coffee-relax {
   animation: smokeUp 2s ease infinite;
}

#star-tree-light-relax {
   animation: starLightRelax 3s ease infinite !important;
}

#star-light-circle-relax {
   animation: starLightCircleRelax 3s ease infinite !important;
}

#star-tree-relax {
   animation: starLightTreeRelax 3s ease infinite !important;
}

@keyframes pointContact {
   0% {
      opacity: 0;
      transform: translateY(0px);
   }
   50% {
      opacity: 1;
      transform: translateY(-4px);
   }
   100% {
      transform: translateY(0px);
      opacity: 0;
   }
}

@keyframes flipBars {
   to {
      transform: rotate(180deg);
   }
}

@keyframes flipTimes {
   to {
      transform: rotate(-180deg);
   }
}

@keyframes showPage {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes showMenuItems {
   from {
      margin-left: -50%;
   }

   to {
      margin-left: 0%;
   }
}

@keyframes hideMenuItems {
   from {
      opacity: 1;
      margin-left: 0%;
   }

   to {
      opacity: 0;
      margin-left: -100%;
   }
}

@keyframes showProducts {
   from {
      opacity: 0;
      margin-right: -100%;
   }

   to {
      opacity: 1;
      margin-left: 0%;
   }
}

@keyframes hideProducts {
   from {
      opacity: 1;
      margin-right: 0%;
   }

   to {
      opacity: 0;
      margin-right: -100%;
   }
}

@keyframes hideMenu {
   to {
      transform: scale(0);
   }
}
@keyframes showMenu {
   to {
      display: none;
   }
}

@keyframes leafsShake {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(-.5deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

@keyframes armsShakeMan {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(-1deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

@keyframes armsShakeGirl {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(.8deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

@keyframes armsShakePlant {
   0% {
      transform: rotate(0deg);
   }

   50% {
      transform: rotate(2deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

@keyframes heartsUp {
   0% {
      opacity: 0;
      transform: translateY(5rem);
   }

   25% {
      opacity: .5;
      transform: translateY(2.5rem);
   }

   50% {
      opacity: 1;
      transform: translateY(0);
   }

   75% {
      opacity: .2;
      transform: translateY(-2.5rem);
   }

   100% {
      opacity: 0;
      transform: translateY(-5rem);
   }
}

@keyframes smokeUp {
   0% {
      opacity: 0;
      transform: translateY(0rem);
   }

   10% {
      opacity: .5;
      transform: translateY(-.1rem);
   }

   20% {
      opacity: 1;
      transform: translateY(-.2rem);
   }

   30% {
      opacity: 1;
      transform: translateY(-.3rem);
   }

   40% {
      opacity: 1;
      transform: translateY(-.4rem);
   }

   50% {
      opacity: 1;
      transform: translateY(-.5rem);
   }

   60% {
      opacity: 1;
      transform: translateY(-.6rem);
   }

   70% {
      opacity: 1;
      transform: translateY(-.7rem);
   }

   80% {
      opacity: .5;
      transform: translateY(-.8rem);
   }

   90% {
      opacity: .25;
      transform: translateY(-.9rem);
   }

   100% {
      opacity: 0;
      transform: translateY(-1rem);
   }
}

@keyframes starLight {
   0% {
      opacity: 0;
   }

   50% {
      opacity: 1;
      fill: rgba(255, 192, 91, 1);
   }

   100% {
      opacity: 0;
   }
}

@keyframes starLightCircle {
   0% {
      opacity: 0;
   }

   50% {
      opacity: .5;
   }

   100% {
      opacity: 0;
   }
}

@keyframes starLightTree {
   0% {
      fill: #F9CC85;
   }

   50% {
      fill: #ffc05bd7;
   }

   100% {
      fill: #F9CC85;
   }
}

@keyframes starLightRelax {
   0% {
      opacity: 0;
      transform: rotate(180deg)
   }

   50% {
      opacity: 1;
      fill: rgba(255, 192, 91, 1);
      transform: rotate(360deg)
   }

   100% {
      opacity: 0;
      transform: rotate(0deg)
   }
}

@keyframes starLightCircleRelax {
   0% {
      opacity: 0;
   }

   50% {
      opacity: .5;
   }

   100% {
      opacity: 0;
   }
}

@keyframes starLightTreeRelax {
   0% {
      fill: #F9CC85;
   }

   50% {
      fill: #ffc05bd7;
   }

   100% {
      fill: #F9CC85;
   }
}

@media screen and (max-width: 1196px) {
   .cont-cards-menu {
      margin-top: 0rem !important;
   }

   .cont-card-product {
      display: flex;
      justify-content: center;
      margin: 0rem 0rem;
   }

}

@media screen and (max-width: 993px) {
   .cont-menus-card {
      height: 0px !important;
      animation: hideMenuItems 0.4s ease forwards;
   }

   .cont-products-card {
      height: 0px !important;
   }

   .showNavBar {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0%;
      transition: clip-path .8s ease;
      clip-path: circle(200% at top right);
      z-index: 100;
      ul {
         a, a:hover {
            border-bottom: 1px solid $grayCream;

            a {
               border-bottom: none;
            }
         }
      }
   }

   .hideNavBar {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0%;
      animation: hideMenu 0s linear 2s forwards;
      transition: clip-path .8s ease;
      clip-path: circle(0% at top right);
      z-index: 100;

      ul {
         width: 100%;
         a {
            border-bottom: 1px solid $grayCream;

            a {
               border-bottom: none;
            }
         }
      }
   }

   .logo-starbucks {
      width: 32px;
   }
   .card-product {
      min-width: 256px !important;
      max-width: 256px !important;
   }
   h3 {
      font-size: 18px;
      line-height: 1.5rem;
   }
   

   .section-land,
   .section-land-footer {
      h1 {
         font-size: 24px;
         line-height: 2rem;

         span {
            -webkit-text-stroke-width: 1px;
         }
      }

      p {
         font-size: 16px;
      }
   }

   .section-share {
      transform: scale(1, -1);

      .container>.row>div {
         transform: scale(1, -1);
      }
   }

   .wave-light {
      transform: translateY(-2px);
   }


   .curve-circle {
      transform: translateY(5px);
   }

   .wave-circle {
      margin-top: 3rem;
   }

   .cont-cards-menu {
      border-radius: 30px;
   }

   .footer {
      .cont-menu {
         margin-left: 0rem;
         text-align: center;
         margin-top: 3rem;
      }
   }

   .shoping-cart-icon {

      svg {
         width: 24px;
      }

   }
}

@media screen and (max-width: 767px) {

   .card-cart {
      justify-content: center;
      flex-direction: column;
      text-align: center;
   }
   .image-cart-card {
      width: 128px !important;
      justify-self: flex-start;
      z-index: 1;
   }
   .cont-text-land {
      display: flex;
      flex-direction: column;
      align-items: center !important;
   }

}